body {
    background-color: lightblue;
}

h1 {
    color: yellow;
}

p {
    color: white;
    border: 2px solid gray;
    padding: 30px;
    margin: 50px;
}

ul.a {
    color: white;
    list-style-type: circle;
}

ul.b {
    color: white;
    list-style-type: square;
}

ol.c {
    color: white;
    list-style-type: upper-roman;
}

ol.d {
    color:white;
    list-style-type: lower-alpha;
}